<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Login for BRM</title>
        <link rel="stylesheet" href="{%static 'css/BRMCSS.css' %}">

</head>
<body>
<div id="header">
    <h1>BOOK RECORD MANAGEMENT </h1>
    <div id="nav">
        <a href="BRMapp/view_books">View books </a>
        <a href="BRMapp/add_new_book">Add book  </a>
        <a href="BRMapp/SearchBook">Search book </a>
        <a href="BRMapp/userlogout">Logout </a>
    </div>

</div>

<div id="main" >
<h2>Login page: </h2>

    <form action="BRMapp/userlogin" method="post">
         {% csrf_token %}

        <table border=2px solid >
                <tr class="newbooktable">
                    <td>User Name:</td>
                    <td><input type="text" name="username" id="username"></td>
                </tr>
                <tr class="newbooktable">
                    <td>User Password:</td>
                    <td><input type="password" id="userpassword" name="userpassword"></td>
                </tr>
                <tr class="newbooktable">
                    <td></td>
                    <td> <input type="submit" name="submit" class="save"></td>
               </tr>
        </table>
    </form>

    <p>  {{ error }}</p>
</div>

</body>
</html>