<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>view books</title>
    <link rel="stylesheet" href="{%static 'css/BRMCSS.css' %}">

</head>
<body>
<div id="header">
    <div id="img">
        <br> <br> <br> <br> <br> <br> <br> <br> <br><br><br>
    </div>

    <h1>BOOK RECORD MANAGEMENT </h1>
    <h4>WELCOME  <br>{{username}}</h4>

    <div id="nav">
        <a href="BRMapp/view_books">View books </a>
        <a href="BRMapp/add_new_book">Add book  </a>
        <a href="BRMapp/SearchBook">Search book </a>
        <a href="BRMapp/userlogout">Logout </a>
    </div>



</div>

<div id="main" >
<h2>View  Books Record:- </h2>

    <table border="1">
        <thead>
            <tr>
                <th>Department </th>
                <th>Book_Title </th>
                <th>Book_Author </th>
                <th>Book_Publisher</th>
                <th>Book_Price </th>
            </tr>
        </thead>

        <tbody>
            {% for book in books %}
            <tr>
                <td>{{book.dpt}} </td>
                <td>{{book.title}} </td>
                <td>{{book.author}}</td>
                <td>{{book.pbr}}  </td>
                <td>{{book.price}}</td>
                <td><a class="btn" href="BRMapp/EditBook?bookid={{book.id}} ">Edit-Book </a></td>
                <td><a class= "dbtn"  href="BRMapp/delete_book?bookid={{book.id}} ">Delete-Book </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>

</body>
</html>